JWT_SECRET=insert_your_jwt_secret_here
MONGOOSE_URI=insert_your_mongoose_url_here
PRIVATE_KEY=insert_your_private_key_here
PUBLIC_KEY=insert_your_public_key_here
URL_ENDPOINT=insert_your_url_endpoint_here